{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>

        <tbody>
            {% for row in display_history %}
            <tr>
                <td>{{ row.Symbol }}</td>
                <td>{{ row.Shares }}</td>
                <td>{{ row.Price }}</td>
                <td>{{ row.Transacted }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}